%main.content
  .top-content
    .content-box
      .card
        - @games.each do |game|
          .box
            %a.links{:href => "/games/#{game.id}"}
              %img.content_post{:src => "#{game.image}"}/
            %p.name-g= (game.name)
      %div
      %footer
        = paginate(@games)
