<main class="content">
  <div class="top-content">
    <div class="content-box">
      <div class="card">
        <div class="box-h">
          <p><%= @nickname %>さんの投稿一覧</p>
          <%= link_to "投稿一覧へ", "users/listofposts" %>
        </div>
      </div>
    <div>
  </div>  
</main>
