<main class="content">
  <div class="top-content">
    <div class="content-box">
      <div class="card">
        <div class="box">
          <p><%= @nickname %>さんの投稿一覧</p>
        </div>
      </div>
    <div>
  </div>  
</main>

<footer>
  <%= paginate(@games)%>
</footer>