%footer
  .footer-content
    .content-h
      .row-h
        .footer-logo-box
          .footer-logo
            = link_to 'ゲームソフト投稿サイト', root_path
          %p
            %small © 2020. All Rights Reserved.
        .footer-box01
          %ul
            %li
              = link_to 'トップページ', root_path
        .footer-box02
          %ul
            %li
              = link_to '新規投稿', new_game_path
        .footer-box03
          %ul
            %li