<main class="content">
  <div class="top-content">
    <div class="content-box">
      <div class="card">
        <% if @search_products %>
          <% render partial: 'gameposts/games', collection: @search_products %>
        <% else %>
          <% render partial: 'gameposts/games', collection: @games %>
        <% end %>
        <% @games.each do |game| %>
        <div class="box">
          <a class="links" href="/gameposts/<%= game.id %>"><img class="content_post" src="<%= game.image %>"></a>
            <figcaption><%= simple_format(game.name) %></figcaption>
          </div>
        <% end %>
      </div>
    <div>
  </div>  
</main>

<footer>
  <%= paginate(@games)%>
</footer>
