<section class="product-container">
  <div class="container-box">
    <h1 class="item-name">
      <%= @games.name %>
    </h1>
    <div class="item-container">
      <table class="item-table">
        <tbody>
          <tr>
            <th>platform</th>
            <td><%= @games.platform %></td>
          </tr>
          <tr>
            <th>genre</th>
            <td><%= @games.genre %></td>
          </tr>
          <tr>
            <th class="game-text">ゲームの説明文</th>
            <td class="text-description"><%= @games.text %></td>
          </tr>
        </tbody>
      </table>
      <div class="item-imges">
        <img class="content_post" src="<%= @games.image %>">
      </div>
    </div>
  </div>  
</section>
<div class="container-box2">
    <div class="item-box">
      <a class="btn-default btn-red" href="gameposts/<%= @games.id%>/edit">編集</a>
    </div>
    <button class="btn-default btn-gray">
      <a href="/gameposts/<%= @games.id %>/destroy">削除</a>
    </button>
</div>