.main.sidecontent
  .main.sidemenu
    .a-section.a-spacing-base
      .left_nav.browseBox
        %h3 Nintendo Switch
        %ul.genre
          ジャンル
          %li.platform
        %h3 プレイステーション4   
        %h3 Xbox One
        %h3 PS Vita
        %h3 ニンテンドー3DS