// Place all the styles related to the gameposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  width: auto;
  height: 700px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  display: block;
}
// header 

header.header {
  background-color: #00ffcc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  .header__logo {
    height: 55px;
    .game__logo {
      height: 60px;
      width: 350px;
      a#nav-hamburger-menu {
        height: 40px;
        margin: 10px 7px 10px 7px;
        padding: 10px 8px 10px 8px;
        float: left;
        margin: 7px 7px 8px 7px;
        padding: 8px 8px 8px 8px;
        width: 38px;
        height: 36px;
        font-size: 25px;
        color: #fff;
        border-radius: 3px;
        border: 1px solid #666;
      }
      .grid {
        padding-top: 10px;
        text-align: center;
        a {
          color: black;
          font-size: 20px;
          padding-left: 10px;
          text-decoration: none;
        }
      }
    }
    .user_nav {
      float: right;
      text-align: center;
      position: absolute;
      left: 1000px;
      top: 10px;
    }
      #menu {
        list-style-type: none;
        width: 250px;
        margin: 0 auto;
        padding: 0;
        background: #276baa;
      }
      #menu li{
        position: relative;
        width: 45%;
        float: left;
        margin: 0;
        padding: 0;
        text-align: center;
        color: black;
      }
      #menu li a{
        display: block;
        margin: 0;
        padding: 13px 0;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        line-height: 1;
        text-decoration: none;
      }
      #menu li ul{
        list-style: none;
        position: absolute;
        top: 100%;
        margin: 0;
        padding: 0;
      }
      #menu li:last-child ul{
        left: -100%;
        width: 100%
      }
      #menu li ul li{
        overflow: hidden;
        width: 200%;
        height: 0;
        color: #fff;
        -moz-transition: .2s;
        -webkit-transition: .2s;
        -o-transition: .2s;
        -ms-transition: .2s;
        transition: .2s;
      }
      #menu li ul li a{
        padding: 13px 15px;
        background: #1a5293;
        text-align: left;
        font-size: 12px;
        font-weight: normal;
      }
      #menu li:hover > a{
        background: #1a5293;
        color: #e0dc62;
      }
      #menu li:hover ul li{
        overflow: visible;
        height: 38px;
        border-bottom: 1px solid #fff;
      }
      #menu li:hover ul li:first-child{
        border-top: 0;
      }
      #menu li:hover ul li:last-child{
        border-bottom: 0;
      }
      a.post-h {
        width: 120px;
        color: black;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 10px;
        display: inline-block;
        font-size: 14px;
      }

    .grid-6 {
      position: absolute;
      width: 264px;
      top:10px;
      left: 1000px;
      a.post {
        width: 120px;
        color: black;
        text-align: center;
        text-decoration: none;
        border: 2px solid black;
        display: inline-block;
        font-size: 14px;
      }
      a.posts {
        width: 120px;
        color: black;
        margin-left: 10px;
        text-align: center;
        text-decoration: none;
        border: 2px solid black;
        display: inline-block;
        font-size: 14px;
      }
    }
  }
  .form-group {
    position: absolute;
    left: 500px;
    top: 10px;
    width: 270px;
    .game_search {
      input {
        width: 190px;
      }
      input.btns {
        height: 26px;
        width: 66px;
        margin-left: 0;
        color: white;
        border-radius: 5px;
        background-color: blue;
      }
    }
  
  }
  }
// main

.content {
  padding: 0;
  margin: 0 auto;
}

.top-content {
  height: 3500px;
  width: 1480px;
  margin-top: 100px;
}

.content-box {
  height: 1020px;
  width: 100%;
}

.card {
  .box {
    float: left;
    margin-left: 80px; 
    margin-bottom: 50px;
    height: 320px;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    .links {
      .content_post {
        position: relative;
        background-size: cover;
        background-position: center center;
        margin: 0;
        width: 200px;
        height: 220px;
        color: both;
        display: inline-block;
      } 
    }
  }
}

.pagination {
  text-align: center;
  padding-bottom: 50px;
}

// new.edit

.contents-row {
  margin-top: 100px;
  .container {
    height: 900px;
    width: 100%;
    background: grey;
  }
  
  .success {
    text-align: center;
    height:250px;
    width: 400px;
    margin: 0 auto;
    padding:10px;
    text-align: center;
    background-color: #fafafa;
    box-sizing: border-box;
    border: 2px solid skyblue;
    h3 {
      font-weight: normal;
    }
    .btn {
      margin-top: 10px;
      width: 260px;
      background-color: skyblue;
      color: #fff;
      border-radius: 3px;
      font-weight: bold;
      font-size: 14px;
      display: inline-block;
      border: 2px solid skyblue;
      cursor: pointer;
    }
  }

  form  {
    height: 900px;
    width: 400px;
    margin: 0 auto;
    padding:10px;
    text-align: center;
    background-color: #fafafa;
    box-sizing: border-box;
    h3 {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  .img-h {
    width:112px; 
    height: 112px;
    padding-left: 13px;
    padding-bottom: 10px;
  }

  .img {
    width: 250px;
    padding-bottom: 10px;
  }
  .name {
    width: 250px;
    margin-bottom: 10px;
  }

  .button_wrapper{
    text-align: center;
    .btn {
      margin-top: 10px;
      width: 260px;
      background-color: skyblue;
      color: #fff;
      border-radius: 3px;
      font-weight: bold;
      font-size: 14px;
      display: inline-block;
      border: 2px solid skyblue;
      cursor: pointer;
    }
  }
}

.contents-row-h {
  margin-top: 100px;
  .container-h {
    height: 900px;
    width: 100%;
    background: grey;
  }
  
  .success {
    text-align: center;
    height:250px;
    width: 400px;
    margin: 0 auto;
    padding:10px;
    text-align: center;
    background-color: #fafafa;
    box-sizing: border-box;
    border: 2px solid skyblue;
    h3 {
      font-weight: normal;
    }
    .btn {
      margin-top: 10px;
      width: 260px;
      background-color: skyblue;
      color: #fff;
      border-radius: 3px;
      font-weight: bold;
      font-size: 14px;
      display: inline-block;
      border: 2px solid skyblue;
      cursor: pointer;
    }
  }

  form  {
    height: 900px;
    width: 400px;
    margin: 0 auto;
    padding:10px;
    text-align: center;
    background-color: #fafafa;
    box-sizing: border-box;
    h3 {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  .img-g {
    width: 250px;
    padding-bottom: 10px;
  }
  .name-h {
    width: 250px;
    margin-bottom: 10px;
  }
  .text-h {
    width: 251px;
  }
  .button_wrapper-h{
    text-align: center;
    .btn-h {
      margin-top: 10px;
      width: 255px;
      background-color: skyblue;
      color: #fff;
      border-radius: 3px;
      font-weight: bold;
      font-size: 14px;
      display: inline-block;
      border: 2px solid skyblue;
      cursor: pointer;
    }
  }
}

li {
  color: red;
}

.new_user {
  padding-top: 20px;
  height: 670px;
  width: 600px;
  margin-top: 50px;
  margin-left: 420px;
  border: 2px solid silver;
}

// sessions

.field {
  height: 100px;
  width: 510px;
  margin: 0 auto;
  input {
    height: 50px;
    width: 490px;
    border: 2px solid skyblue;
    margin-left: 10px;
  }
}
.actions {
  input[type="submit" i] {
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 50px;
    height: 50px;
    width: 510px;
    background-color: skyblue;
    color: #fff;
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    border: 2px solid skyblue;
    cursor: pointer;
  }
}

.actions-h {
  input[type="submit" i] {
    margin-left: 50px;
    height: 50px;
    width: 510px;
    background-color: skyblue;
    color: #fff;
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    border: 2px solid skyblue;
    cursor: pointer;
  }
}

label {
padding-left: 10px;
padding-right: 10px;
}

//show 

.product-container {
  height: 350px;
  width: 685px;
  padding: 24px 40px 40px;
  border: 2px solid skyblue;
  background-color: #fff;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
 .container-box {
   .item-name {
     margin: 0;
     font-size: 24px;
     text-align: center;
     line-height: 1.4;
    }
    .item-container{
      height: 420px;
      width: 685px;
    }
    .item-imges {
      .content_post {
        position: relative;
        background-size: cover;
        background-position: center center;
        margin: 0;
        width: 300px;
        height: 315px;
        color: both;
        display: inline-block;
      } 
    }
    .item-table {
      max-width: 300px;
      height: 300px;
      width: 100%;
      float: right;
      margin-right: 50px;
      border-collapse: collapse;
      border: 1px solid black;
      tbody {
        vertical-align: baseline;
        margin: 0px;
        padding: 0px;
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        border-image: initial;
        font: inherit;
        tr {
          display: block;
          th {
            margin: 0px;
            padding: 0px;
            padding-top: 8px;
            border-width: 0px;
            border-style: initial;
            border-color: initial;
            border-image: initial;
            font: inherit;
            text-align: left;
            width: 99px;
            height: 37px;
            background: #fafafa;
            border: 1px solid black;
          }
          td {
            width: 194px;
            text-align: center;
            border: 1px solid black;
          }
          .game-text {
            height: 194px;
          }
          .text-description {
            text-align: left;
            word-wrap: break-word;
            white-space: pre-wrap;
          }
        }
      }
    }
  }
}

.container-box2 {
  height: 100px;
  width: 685px;
  padding: 24px 40px 40px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid skyblue;
  .item-box{
    text-align: center;
    background-color: red;
    border: 1px solid skyblue;
  }
}

.btn-default {
  text-decoration: none;
  width: 100%;
  font-size: 24px;
  margin-top: 20px;
  color: white;
  a {
    color: white;
    text-align: center;
    text-decoration: none;
  }
}

.btn-gray {
  background-color: gray;
}

// マイページ

.box-h {
  float: left;
    margin-left: 80px; 
    margin-bottom: 50px;
    height: 120px;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    text-align: center;
}

