// Place all the styles related to the gameposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  height: 700px;
  margin: 0;
  padding: 0;
}

header.header {
  background-color: #00ffcc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  .grid {
   font-size: 20px;
   line-height: 41px;
   float: left;
    a {
      color: black;
      font-size: 20px;
      padding-left: 50px;
      text-decoration: none;
    }
  }
  .user_nav {
    float: right;
    text-align: right;
    padding-right: 200px;
    padding-top: 20px;
    span {
      display: block;
      float: left;
      margin-right: 30px;
      width: 150px;
      height: 50px;
      font-size: 1em;
      cursor: pointer;
      position: relative;
      &:after {
        content: '▼';
        font-size: .7em;
        margin-left: -4px;
      }
      &:hover ul {
        display: block;
      }
    }
    .user__info {
      padding: 0;
    }
    ul {
      display: none;
      position: absolute;
      right: 0;
      list-style: none;
      border-left: 1px solid #d8d8d8;
      border-right: 1px solid #d8d8d8;
      box-shadow: 1px 2px 5px rgba(0,0,0,0.18);
      li {
        background-color: #f0f0f0;
      }
      a {
        display: block;
        padding: 10px 20px;
        text-align: left;
        border-bottom: 1px solid #d8d8d8;
        text-decoration: none;
        color: gray;
      }
    }
    a.post {
      width: 120px;
      color: black;
      margin-left: 10px;
      text-align: center;
      text-decoration: none;
      border: 2px solid black;
      display: inline-block;
      font-size: 14px;
    }
  }
  .grid-6 {
    padding-top: 20px;
    padding-right: 60px;
    text-align: right;
    a.post {
      width: 120px;
      color: black;
      margin-left: 10px;
      text-align: center;
      text-decoration: none;
      border: 2px solid black;
      display: inline-block;
      font-size: 14px;
    }
  }
}

.content {
  padding: 0;
  margin: 0 auto;
}

.top-content {
  height: 3500px;
  width: 1480px;
  margin-top: 100px;
}

.content-box {
  height: 1020px;
  width: 100%;
}

.card {
  .box {
    float: left;
    margin-left: 80px; 
    margin-bottom: 50px;
    height: 300px;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    .links {
      .content_post {
        position: relative;
        background-size: cover;
        background-position: center center;
        margin: 0;
        width: 200px;
        height: 220px;
        color: both;
        display: inline-block;
      } 
    }
  }
}

.pagination {
  text-align: center;
  padding-bottom: 50px;
}

figcaption {
  p {
  }
} 

.game{
}


.contents-row {
  margin-top: 100px;
  .container {
    height: 700px;
    width: 100%;
    background: grey;
  }
  
  .success {
    text-align: center;
    height:250px;
    width: 400px;
    margin: 0 auto;
    padding:10px;
    text-align: center;
    background-color: #fafafa;
    box-sizing: border-box;
    border: 2px solid skyblue;
    h3 {
      font-weight: normal;
    }
    .btn {
      margin-top: 10px;
      width: 260px;
      background-color: skyblue;
      color: #fff;
      border-radius: 3px;
      font-weight: bold;
      font-size: 14px;
      display: inline-block;
      border: 2px solid skyblue;
      cursor: pointer;
    }
  }

  form  {
    height: 620px;
    width: 400px;
    margin: 0 auto;
    padding:10px;
    text-align: center;
    background-color: #fafafa;
    box-sizing: border-box;
    h3 {
      font-weight: normal;
    }
  }
  .img {
    width: 250px;
  }
  .name {
    width: 250px;
  }

  .text {
  }

  .button_wrapper{
    text-align: center;
    .btn {
      margin-top: 10px;
      width: 260px;
      background-color: skyblue;
      color: #fff;
      border-radius: 3px;
      font-weight: bold;
      font-size: 14px;
      display: inline-block;
      border: 2px solid skyblue;
      cursor: pointer;
    }
  }
}

.new_user {
  padding-top: 20px;
  height: 670px;
  width: 600px;
  margin-top: 50px;
  margin-left: 420px;
  border: 2px solid silver;
}

.field {
  height: 100px;
  width: 510px;
  margin: 0 auto;
  input {
    height: 50px;
    width: 490px;
    border: 2px solid skyblue;
    margin-left: 10px;
  }
}
.actions {
  input[type="submit" i] {
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 50px;
    height: 50px;
    width: 510px;
    background-color: skyblue;
    color: #fff;
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    border: 2px solid skyblue;
    cursor: pointer;
  }
}

label {
padding-left: 10px;
}

.product-container {
  height: 350px;
  width: 685px;
  padding: 24px 40px 40px;
  border: 2px solid skyblue;
  background-color: #fff;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
 .container-box {
   .item-name {
     margin: 0;
     font-size: 24px;
     text-align: center;
     line-height: 1.4;
    }
    .item-container{
      height: 420px;
      width: 685px;
    }
    .item-imges {
      .content_post {
        position: relative;
        background-size: cover;
        background-position: center center;
        margin: 0;
        width: 300px;
        height: 300px;
        color: both;
        display: inline-block;
      } 
    }
    .item-table {
      max-width: 300px;
      height: 300px;
      width: 100%;
      float: right;
      margin-right: 50px;
      border-collapse: collapse;
      border: 1px solid black;
      tbody {
        vertical-align: baseline;
        margin: 0px;
        padding: 0px;
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        border-image: initial;
        font: inherit;
        tr {
          display: block;
          th {
            margin: 0px;
            padding: 0px;
            padding-top: 8px;
            border-width: 0px;
            border-style: initial;
            border-color: initial;
            border-image: initial;
            font: inherit;
            text-align: left;
            width: 99px;
            height: 37px;
            background: #fafafa;
            border: 1px solid black;
          }
          td {
            width: 194px;
            text-align: center;
            border: 1px solid black;
          }
          .game-text {
            height: 194px;
          }
          .text-description {
            text-align: left;
            word-wrap: break-word;
            white-space: pre-wrap;
          }
        }
      }
    }
  }
}

.container-box2 {
  height: 100px;
  width: 685px;
  padding: 24px 40px 40px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid skyblue;
  .item-box{
    text-align: center;
    background-color: red;
    border: 1px solid skyblue;
  }
}

.btn-default {
  text-decoration: none;
  width: 100%;
  font-size: 24px;
  margin-top: 20px;
  color: white;
  a {
    color: white;
    text-align: center;
    text-decoration: none;
  }
}

.btn-gray {
  background-color: gray;
}
