<!DOCTYPE html>
<html>
  <head>
    <title>Gamepost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
    <div class="header__logo">
      <h1 class="grid"><a href="/">ゲームソフト投稿サイト</a></h1>
      <% if user_signed_in? %>
        <div class="user_nav">
          <span><%= current_user.nickname %>
            <ul class="user__info">
              <li>
                <a href="users/<%= current_user.id %>">マイページ</a>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            </ul>  
          </span>
          <a class="post" href="/gameposts/new">投稿する</a>
        </div>
      <% else %>
        <div class="grid-6">
          <%= link_to "ログイン", new_user_session_path, class: 'post' %>
          <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
        </div> 
      <% end %>   
    </div>
  </header>
    <%= yield %>
  </body>
</html>
